@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* কাস্টম অ্যানিমেশন */
@layer utilities {
  .animate-text-gradient {
    background-size: 200% auto;
    animation: textShine 3s linear infinite;
  }
}

.fade-in-up {
  animation: fadeInUp 1.2s ease-out forwards;
}

@keyframes textShine {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 100% center;
  }
  100% {
    background-position: 0% center;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
